* {
  -fx-text-color: black;
  -fx-text-base-color: black;
  -fx-font-family: "Inter Tight", sans-serif;
}

.button {
  -fx-background-color: #cdcdcd;
  -fx-background-radius: 30px;
  -fx-font-size: 18px;
}

.button:hover {
  -fx-background-color: #ababab;
  -fx-font-size: 18px;
}

.canvasPane {
  -fx-background-color: #ffffff;
}

.zen-button {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.zen-button:hover {
  -fx-underline: true;
  -fx-font-size: 24px;
  -fx-background-color: transparent;
}
