@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap");

* {
  -fx-text-color: black;
  -fx-text-base-color: black;
  -fx-font-weight: bold;
  -fx-font-family: "Inter Tight", sans-serif;
}

.left-button {
  -fx-shape: "M200 0 L100 100 L200 200 Z";
  -fx-background-color: #ababab;
}

.right-button {
  -fx-shape: "M0 0 L200 100 L0 200 Z";
  -fx-background-color: #ababab;
}

.delete-user {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-background-radius: 15px;
  -fx-graphic: url("../images/trash.png");
}

.delete-user:hover {
  -fx-background-color: #ababab;
}

.profile-image-box {
  -fx-border-color: #000;
  -fx-border-width: 2px;
}

.add-user {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-background-radius: 37.5;
  -fx-font-size: 37px;
}

.add-user:hover {
  -fx-background-color: #ababab;
  -fx-font-size: 37px;
}

.back-button {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}

.back-button:hover {
  -fx-underline: true;
}
