@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600;700&display=swap");

* {
  -fx-text-color: black;
  -fx-text-base-color: black;
  -fx-font-family: "Inter Tight", sans-serif;
}

.label {
  -fx-font-weight: 700;
}

.button {
  -fx-font-weight: 600;
}

.avatar-image-box {
  -fx-border-color: #000;
  -fx-border-width: 2px;
}

.edit-avatar {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-background-radius: 15px;
  -fx-graphic: url("../images/pencil.png");
}

.edit-avatar:hover {
  -fx-background-color: #ababab;
}

.add-profile {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-font-size: 24px;
  -fx-background-radius: 30px;
}

.add-profile:hover {
  -fx-background-color: #ababab;
  -fx-font-size: 24px;
}

.username-textfield {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 1.5 0;
  -fx-border-color: black;
  -fx-font-family: "Inter Tight", sans-serif;
  -fx-font-weight: 600;
  -fx-font-size: 24px;
}

.back-button {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.back-button:hover {
  -fx-underline: true;
  -fx-font-size: 24px;
}
