@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap");

* {
  -fx-text-color: black;
  -fx-text-base-color: black;
  -fx-font-family: "Inter Tight", sans-serif;
}

.profile-image-box {
  -fx-border-width: 2px;
  -fx-border-color: #000;
}

.switch-user-button {
  -fx-background-color: #cdcdcd;
  -fx-graphic: url(../images/switchUser.png);
  -fx-background-radius: 15px;
}

.switch-user-button:hover {
  -fx-background-color: #ababab;
}

.button-box .button {
  -fx-font-family: "Inter Tight", sans-serif;
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-font-size: 20px;
  -fx-background-radius: 30px;
}

.button-box .button:hover {
  -fx-background-color: #ababab;
  -fx-font-size: 20px;
}

.sound-button {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-font-size: 24px;
  -fx-background-radius: 30px;
}

.sound-button:hover {
  -fx-background-color: #ababab;
}
