* {
  -fx-font-family: "Inter Tight", sans-serif;
  -fx-font-color: black;
  -fx-font-weight: bold;
  -fx-text-base-color: black;
}

.back-button {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.back-button:hover {
  -fx-underline: true;
  -fx-font-size: 24px;
}
