@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap");

* {
  -fx-text-color: black;
  -fx-text-base-color: black;
  -fx-font-family: "Inter Tight", sans-serif;
}

.back-button {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.back-button:hover {
  -fx-underline: true;
  -fx-font-size: 24px;
}

.words-drawn {
  -fx-font-size: 16px;
}

.image-box {
  -fx-border-width: 2px;
  -fx-border-color: black;
}

.progress-bar .bar {
  -fx-background-color: linear-gradient(to right, lightgreen, seagreen);
}