@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap");

* {
  -fx-font-family: "Inter Tight", sans-serif;
  -fx-font-color: black;
  -fx-text-base-color: black;
}

.button {
  -fx-background-color: #cdcdcd;
  -fx-border-color: transparent;
  -fx-font-size: 24px;
  -fx-background-radius: 30px;
}

.button:hover {
  -fx-background-color: #ababab;
  -fx-font-size: 24px;
}
